In [1]:
print('hello')

hello

In [2]:
print('love you Surekha')

love you Surekha

Select Markdown, to make it a non-code line.

In [1]:
'hello'

'hello'

In [2]:
"hello world"
"hello world two"

'hello world two'

In [3]:
int = 8

In [4]:
"hello\"world"

'hello"world'

In [5]:
'hello\'world'

"hello'world"

In [6]:
'hello\nworld'

'hello\nworld'

In [7]:
print('hello\nworld')

hello
world

In [8]:
print('hello\tworld')

hello	world

In [9]:
len('hello')

5

In [10]:
len('I am nice')

9

In [12]:
mystring = "Hello World"

In [13]:
mystring

'Hello World'

In [14]:
mystring[1]

'e'

In [15]:
mystring[-1]

'd'

In [16]:
mystring[0]

'H'

In [17]:
mystring = 'abcdefghi'

In [18]:
mystring

'abcdefghi'

In [19]:
mystring[2:]

'cdefghi'

In [20]:
mystring[:4]

'abcd'

In [21]:
mystring[3:6]

'def'

In [22]:
mystring[4:7]

'efg'

In [23]:
mystring[5]

'f'

In [24]:
mystring[5:8]

'fgh'

In [25]:
mystring[::]

'abcdefghi'

In [26]:
mystring[::2]

'acegi'

In [27]:
mystring[::3]

'adg'

In [30]:
mystring[2:5:2]

'ce'

In [29]:
mystring[::-1]

'ihgfedcba'

# Immutability of a string

In [31]:
name = "Sam"

In [33]:
# name[0] = 'T' returns error since string is immutable

In [35]:
last_letters = name[1:]

In [36]:
last_letters

'am'

In [37]:
name = "surekha"

In [38]:
name

'surekha'

In [41]:
name = name + "karthik"

In [40]:
name

'surekhakarthik'

In [42]:
name

'surekhakarthikkarthik'

In [43]:
letter = 'z'

In [44]:
letter * 10

'zzzzzzzzzz'

In [45]:
x = "Karthik"

In [46]:
x.upper()

'KARTHIK'

In [47]:
x.lower()

'karthik'

In [48]:
x

'Karthik'

In [49]:
x.upper

In [50]:
x = 'Siva' + x

In [51]:
x

'SivaKarthik'

In [52]:
x.split()

['SivaKarthik']

In [53]:
x = 'Siva Karthik'

In [54]:
x.split()

['Siva', 'Karthik']

In [55]:
row = 'id|name|phone|address'

In [56]:
row.split('|')

['id', 'name', 'phone', 'address']

In [57]:
print('Hello {}'.format('Karthik'))

Hello Karthik

In [58]:
print("The {} {} in the {}".format("Sun", "rises", "East"))

The Sun rises in the East

In [59]:
print("The {0} {0} in the {0}".format("Sun", "rises", "East"))

The Sun Sun in the Sun

In [60]:
print("The {2} {1} in the {0}".format("Sun", "rises", "East"))

The East rises in the Sun

In [61]:
print("The {} {} in the {}".format("Sun", "rises"))

IndexError: tuple index out of range

In [62]:
print("The {s} {r} in the {e}".format(s="Sun", r="rises", e="East"))

The Sun rises in the East

In [63]:
res = 100/777

In [64]:
res

0.1287001287001287

In [65]:
print("The result is {r}".format(r=res))

The result is 0.1287001287001287

# Float formatting follows "{value:width.precision f}"

In [66]:
print("The result is {r:0.3f}".format(r=res))

The result is 0.129

In [67]:
print("The result is {r:10.3f}".format(r=res))

The result is      0.129

In [68]:
print("The result is {r:10.5f}".format(r=res))

The result is    0.12870

In [69]:
res = 75/23

In [70]:
res

3.260869565217391

In [71]:
print("The result is {r:10.5f}".format(r=res))

The result is    3.26087

In [72]:
print("The result is {r:0.5f}".format(r=res))

The result is 3.26087

In [74]:
print(f"The result is {res:0.5f}")

The result is 3.26087

In [75]:
name = "Karthik"

In [76]:
print("Hello {name}")

Hello {name}

In [77]:
print(f"Hello {name}")

Hello Karthik

In [78]:
name = "Karthik"
age = 29

In [79]:
print(f"{name} is {age} years old")

Karthik is 29 years old

Other operations

In [1]:
string = ""
mylist = ['h','e','l','l','o']

string = string.join(mylist)

In [2]:
string

'hello'

In [3]:
string = "karthik"

In [4]:
list(string)

['k', 'a', 'r', 't', 'h', 'i', 'k']

In [5]:
string

'karthik'

In [6]:
string.capitalize()

'Karthik'

string.capitalize() capitalizes only the first character