# Lists

In [1]:
mylist = [1,2,3]

In [2]:
mylist

[1, 2, 3]

In [3]:
mylist = [1, 'TWO', 3]

In [4]:
mylist

[1, 'TWO', 3]

In [5]:
mylist[0]

1

In [6]:
mylist[1]

'TWO'

In [7]:
another = ['FOUR', 5]

In [8]:
mylist + another

[1, 'TWO', 3, 'FOUR', 5]

In [9]:
mylist

[1, 'TWO', 3]

In [10]:
mylist[1] = 2

In [11]:
mylist

[1, 2, 3]

In [12]:
mylist.append(4)

In [13]:
mylist

[1, 2, 3, 4]

In [15]:
mylist.append('FIVE')

mylist

In [16]:
mylist

[1, 2, 3, 4, 'FIVE']

In [17]:
mylist.pop()

'FIVE'

In [18]:
mylist

[1, 2, 3, 4]

In [19]:
mylist.pop(1)

2

In [20]:
mylist

[1, 3, 4]

In [21]:
mylist.pop(-2)

3

In [22]:
mylist

[1, 4]

In [23]:
a_list = ['b', 'c', 'a', 'e', 'd']
a_list.sort()

In [24]:
a_list

['a', 'b', 'c', 'd', 'e']

In [25]:
a_list = ['b', 'c', 'a', 'e', 'd']
sorted_list = a_list.sort()

In [26]:
sorted_list

In [27]:
type(sorted_list)

NoneType

Unlike other string operations, list.sort() can't be assigned to a new list coz sort() returns nothing but sorts the list on which it's called.

In [28]:
num_list = [5, 7, 4, 11, 10]

In [29]:
num_list

[5, 7, 4, 11, 10]

In [30]:
num_list.sort()

In [31]:
num_list

[4, 5, 7, 10, 11]

In [32]:
num_list.reverse()

In [33]:
num_list

[11, 10, 7, 5, 4]

# Dictionaries

In [34]:
dict1 = {"name":"Karthik", "age":29, "city":"Scarborough"}

In [35]:
dict1

{'name': 'Karthik', 'age': 29, 'city': 'Scarborough'}

In [36]:
dict1["name"]

'Karthik'

In [37]:
dict1.keys()

dict_keys(['name', 'age', 'city'])

In [38]:
dict2 = {"number":100, "num_list":[100,200,300], "num_dict":{"num_key":2000}}

In [39]:
dict2.keys()

dict_keys(['number', 'num_list', 'num_dict'])

In [40]:
dict2["number"]

100

In [41]:
dict2["num_list"][1]

200

In [42]:
dict2["num_dict"]["num_key"]

2000

In [43]:
dict2["num_list"][2]=400

In [44]:
dict2["num_list"]

[100, 200, 400]

In [45]:
dict2[num_list]

TypeError: unhashable type: 'list'

In [46]:
dict3 = {"lower": ["a", "b", "c"]}

In [47]:
dict3["lower"][1].upper()

'B'

In [48]:
dict3
mod_list = dict3["lower"]
mod_list[1] = mod_list[1].upper()
dict3["lower"]=mod_list
dict3

{'lower': ['a', 'B', 'c']}

In [49]:
d = {"num1":100, "num2":200}

In [50]:
d["num3"] = 300

In [51]:
d

{'num1': 100, 'num2': 200, 'num3': 300}

In [52]:
d.keys()

dict_keys(['num1', 'num2', 'num3'])

In [53]:
d.values()

dict_values([100, 200, 300])

In [54]:
d.items()

dict_items([('num1', 100), ('num2', 200), ('num3', 300)])

# Tuples

In [55]:
tuple1 = (1,2,3)

In [56]:
list1 = [1,2,3]

In [57]:
type(tuple1)

tuple

In [58]:
type(list1)

list

In [59]:
tuple1

(1, 2, 3)

In [60]:
tuple1 = ("one", 2)

In [63]:
tuple1[0], tuple1[1]

('one', 2)

In [64]:
tuple1

('one', 2)

In [65]:
tuple1[-1]

2

In [66]:
t = ('a', 'a', 'b')

In [67]:
t.count('a')

2

In [68]:
t.index('a')

0

In [69]:
t.index('b')

2

In [70]:
t.index('B')

ValueError: tuple.index(x): x not in tuple

In [71]:
tuple1

('one', 2)

In [72]:
tuple1 = (1,2,3,4)

In [73]:
tuple1[0] = 'ONE'

TypeError: 'tuple' object does not support item assignment

# Sets

In [1]:
myset = set()

In [2]:
myset.add(1)

In [3]:
myset

{1}

In [4]:
myset.add(2)

In [5]:
myset

{1, 2}

In [6]:
myset.add(2)

In [7]:
myset

{1, 2}

In [8]:
mylist = [1,1,2,3,3,4,4,4]

In [9]:
mylist

[1, 1, 2, 3, 3, 4, 4, 4]

In [10]:
myset = set(mylist)

In [11]:
myset

{1, 2, 3, 4}

# Booleans

In [12]:
True

True

In [13]:
true

NameError: name 'true' is not defined

In [14]:
type(False)

bool

In [15]:
type(True)

bool

In [16]:
1 > 2

False

In [17]:
1 == 2

False

In [18]:
1 == 1

True

In [19]:
b = None