In [1]:
mylist = ['h', 'e', 'l', 'l', 'o']

In [4]:
word = mylist.copy()

In [5]:
word

['h', 'e', 'l', 'l', 'o']

In [6]:
word = ''

In [7]:
word = word.join(mylist)

In [11]:
mylist

['h', 'e', 'l', 'l', 'o']

In [12]:
string = 'hello'

In [21]:
len(mylist)

5

In [28]:
def myfunc(word):
    letters = list(word)
    
    for index in range(0,len(letters)):
        if(index%2==0):
            letters[index] = letters[index].lower()
        else:
            letters[index] = letters[index].upper()
        
    return ''.join(letters)

In [29]:
myfunc("Surekha")

'sUrEkHa'

In [30]:
def myfunc(word):
    letters = list(word)
    
    for index in range(0,len(letters)):
        if(index%2==0):
            letters[index].lower()
        else:
            letters[index].upper()
        
    return ''.join(letters)

In [31]:
myfunc("Surekha")

'Surekha'

In [32]:
def lesser_of_two_evens(a,b):
    
    if(a%2==0 and b%2==0):
        
        if(a>b):
            return b 
        else:
            return a
        
    else:
        
        if(a>b):
            return a
        else:
            return b

In [33]:
lesser_of_two_evens(2,4)

2

In [34]:
lesser_of_two_evens(2,5)

5

In [41]:
def animal_crackers(text):
    
    words = text.split()
    
    return words[0][0] == words[1][0]

In [42]:
animal_crackers('Levelheaded Llama')

True

In [43]:
animal_crackers('Crazy Kangaroo')

False

In [45]:
def makes_twenty(a,b):
    return (a==20 or b==20) or (a+b==20)

In [46]:
makes_twenty(20,10)

True

In [47]:
makes_twenty(12,8)

True

In [48]:
makes_twenty(11,11)

False

In [49]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [51]:
old_macdonald('oldmacdonald')

'OldMacdonald'

In [64]:
def master_yoda(sentence):
    words = sentence.split()
    words.reverse()
    return " ".join(words)

In [65]:
master_yoda("I am home")

'home am I'

In [66]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [67]:
master_yoda("I am home")

'home am I'

In [68]:
text = "I am home"

In [69]:
words = text.split()

In [70]:
words

['I', 'am', 'home']

In [72]:
words[::-1]

['home', 'am', 'I']

In [73]:
string = "hello world, I'm python"

In [74]:
string[4:14]

'o world, I'

In [76]:
string[4:14:2]

'owrd '

In [81]:
string[0:]

"hello world, I'm python"

In [83]:
def almost_there(num):
    return (100-num<=10) or (num-100<=10) or (200-num<=10) or (num-200<=10)

In [84]:
almost_there(90)

True

In [85]:
almost_there(104)

True

In [86]:
almost_there(150)

True

In [88]:
def almost_there(num):
    return ((abs(100-num) <= 10) or (abs(200-num) <= 10))

In [89]:
almost_there(150)

False

In [90]:
almost_there(104)

True

In [91]:
almost_there(196)

True

In [104]:
def has_33(list):
    for index in range(0,len(list)-1):
        if(list[index] == list[index+1] == 3):
            return True
    
    return False

In [105]:
has_33([1, 3, 3])

True

In [106]:
has_33([1, 3, 1, 3])

False

In [107]:
has_33([3, 1, 3])

False

In [116]:
def paper_doll(text):
    result = ''
    for letter in text:
        result = result + (3 * letter)
        
    return result

In [117]:
paper_doll('hello')

'hhheeellllllooo'

In [133]:
def black_jack(a,b,c):
    
    sum_ = sum((a,b,c))
    
    if sum_<=21:
        return sum_
    elif sum_<=31 and 11 in (a,b,c):
        return sum_-10
    else:
        return 'BUST'

In [134]:
black_jack(5,6,7)

18

In [135]:
black_jack(9,9,9)

'BUST'

In [136]:
black_jack(9,9,11)

19