# range

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
range(0,10,2)

range(0, 10, 2)

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

# enumerate

In [10]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count+= 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [11]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count+= 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
index_count = 0
word = "string"

for letter in word:
    print(word[index_count])
    index_count += 1

s
t
r
i
n
g

In [14]:
word = "string"

for item in enumerate(word):
    print(item)

(0, 's')
(1, 't')
(2, 'r')
(3, 'i')
(4, 'n')
(5, 'g')

In [15]:
word = "string"

for index,letter in enumerate(word):
    print(f'At index {index} the letter is {letter}')

At index 0 the letter is s
At index 1 the letter is t
At index 2 the letter is r
At index 3 the letter is i
At index 4 the letter is n
At index 5 the letter is g

# zip

In [17]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [18]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
mylist1 = [1,2,3,4,5,6,7,8]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [21]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for a,b,c in zip(mylist1, mylist2, mylist3):
    print(a)
    print(b)
    print(c)

1
a
100
2
b
200
3
c
300

In [22]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
1 in [1,2,3]

True

In [24]:
'x' in ['x', 'y', 'z']

True

In [25]:
"hello" in "helloworld"

True

In [26]:
"mykey" in {"mykey": 58}

True

In [28]:
d = {"mykey": 58}

58 in d.values()

False

In [29]:
58 in d.keys()

False

In [30]:
min(mylist)

1

In [31]:
min(mylist2)

'a'

In [32]:
max(mylist3)

300

In [33]:
from random import shuffle

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [35]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
shuffle(mylist)

In [37]:
mylist

[5, 2, 6, 9, 10, 8, 3, 4, 7, 1]

In [38]:
random_list = shuffle(mylist)

In [39]:
random_list

In [40]:
type(random_list)

NoneType

shuffle is an in-place function

In [41]:
from random import randint

In [42]:
randint(0,100)

33

In [43]:
randint(0,100)

27

In [44]:
randint(0,100)

34

In [47]:
input_num = input('Enter a number: ')

Enter a number: 100

In [48]:
input_num

'100'

In [49]:
type(input_num)

str

In [50]:
float(input_num)

100.0

In [51]:
int(input_num)

100

In [52]:
input_num = int(input('Enter a number: '))

Enter a number: 200

In [53]:
input_num

200

In [54]:
type(input_num)

int